[DATA]
datapaths_train = ./intracardiac_dataset/data_hearts_dd_0p2
datapaths_val = ./intracardiac_dataset/data_hearts_dd_0p2
data_scaling_ecg = normalized_unit
data_scaling_vm = normalization
num_timesteps = 500
all_channels = True
input_dim = 12
output_dim = 75

[MODEL]
hidden_dim = 100
layer_dim = 2

[TRAIN]
learning_rate = 1e-3
gamma_scheduler = 1.0
step_size_scheduler = 100
batch_size = 32
num_epochs = 10
grad_clippling = False
dropout = 0.0
loss_norm = MSE
load_model = False
model_path = ./mymodel.training.epoch.1400.pth

[SAVE]
outputstats_file = trainingStats
checkpoint_rate = 200
out_name = mymodel
progressbar = False
